.main {
    margin: 0 auto;
}

p {
    margin: 0 0 30px;
}

.menu {
    margin-bottom: 20px;
}

.comments, .inputComment {
    margin: 0 auto;
}

.inputComment {
    border: 2px solid black;
    padding: 10px 10px 0px;
}

.comment {
    /*margin: 15px;*/
    /*padding: 10px;*/
    height:260px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
!
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}