<div class="page-header">
    <h1>My city, your city <small>by <b>Tran Doan Khanh Vu</b></small></h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">About me</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img class="img-thumbnail" src="images/aboutus/avatar.jpg"/>
            </div>
            <div class="col-md-8">
                <p>
                    Just another young backpacker who loves to travel around the world and meet other people,
                    regardless of their nationalities, races, religions...
                </p>
                <p>
                    Just call me <strong>Vu</strong>, or my nickname <strong>Lazy Pig</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">About My City, Your City</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img class="img-thumbnail" src="images/aboutus/jogjia.jpg"/>
                <img class="img-thumbnail" style="margin-top:20px" src="images/aboutus/bromo.jpg"/>
            </div>
            <div class="col-md-8">
                <p>
                    During my trips, I try my best to talk with other lone travellers just
                    like me, or local people.
                </p>
                <p>
                    All of them begin with <strong>"Hi, my name is Vu."</strong>, followed by stories
                    exchanged about our cultures "You know, in Vietnam, we normally...".
                </p>
                <p>
                    The more we talk, the more we understand about each other's culture and gradually
                    develop our love towards other countries.
                </p>
                <p>
                    Therefore, I would like to take it a little bit further to establish a small site,
                    where <strong>anyone</strong> can publish <strong>anything</strong> at <strong>any time
                    </strong>(preferably to be positive) about their country for <strong>everyone else</strong>
                    to read
                </p>
                <p>
                    And that is how I come up with
                </p>
                <h1>My City, Your City</h1>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Call me maybe</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                Hey you just know me, and I know it is crazy. But if you want to contribute
                to this project, just contact me via:
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-4">
                <a href="https://www.facebook.com/tdkhanhvu">Facebook</a>
            </div>
            <div class="col-md-4">
                <a href="mailto:tdkhanhvu@gmail.com">Email</a>
            </div>
            <div class="col-md-4">
                Skype: tdkhanhvu
            </div>
        </div>
    </div>
</div>